<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426726402912-733p9lht0sg14dd9bcvi2uhqo4ck02fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426726402912-733p9lht0sg14dd9bcvi2uhqo4ck02fi</string>
	<key>API_KEY</key>
	<string>AIzaSyC9AO6mL4e1AYjuluJlrPaopjAigGdxVMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>426726402912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comradesFlutter</string>
	<key>PROJECT_ID</key>
	<string>comrades-cpsc362</string>
	<key>STORAGE_BUCKET</key>
	<string>comrades-cpsc362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426726402912:ios:6a57dab8bce2fcb0938c05</string>
</dict>
</plist>